.special-offres-page{ 
    background-color: #dcdcdccd;
}

.add-to-cart-toppings-button{ 
    width: 100%;
    height: 50.45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
