.menu-wrapper{ 
    /* background-color: black; */
    color: black;
}

.menu-table table{ 
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.menu-table table td, th{ 
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: black;
}

.menu-table table tr:nth-child(even){ 
    background-color: #e1e1e15c;
    color: black;
}

.admin-menu-img{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin-menu-img-img{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu-order-input-butttons{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   

}