.sign-up-body-wrapper{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}


.passBox{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.3rem;
}

/* .pass-cnfm-pass{ 
    margin: 0 !important;
    padding: 0 !important;
} */

.ph-num{ 
    padding: 0;
    margin: 0;
    /* padding-left: 1rem; */
}

/* media queries */
@media screen and (max-width: 768px){ 
    .sign-up-body-wrapper{ 
        padding: 0rem 1rem;
    }
    .pass-cnfm-pass{ 
       padding: 0;
        margin: 0;
    }
    .sign-up-frTxt{    
        margin-top: 1rem;
        /* margin-left: 0.5rem; */
        margin-left: 2.5rem;
        /* border: 1px solid red; */
    }
    .input-ph-no{ 
        padding-left: 2rem;
        
    }
    .ph-num{ 
        padding: 0;
        margin: 0;
        padding-left: 1rem;
    }
   
}


@media screen and (max-width: 768px) {
    .passBox{ 
        width: 95%;
        justify-content: space-around;
        margin-left: 1.5rem;
    }
}


@media screen and (max-width: 376px) {
    .passBox{ 
        margin-left: 1.5rem;
        width: 90% ;
        justify-content: space-around;

    }
}