.orders-wrapper{
    /* background-color: rebeccapurple; */
    color: black;
    height: 80vh;
}
.all-orders{ 
    height: 100%;
    
}
.order-cart{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: fit-content; 
    padding: 1rem 1rem;
    
    
}

.order-details{ 
    text-transform: capitalize;

}
.order-name-toppings{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.customer-details{ 
    display: flex;
    
    flex-direction: column;
}

.order-payment-stts{ 
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}
.product-toppings{ 
    display: flex;
    flex-direction: column;
}





.all-orders table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; 
    /* width: 100vw; */
  }
  .all-orders table tbody{ 

  }
  .all-orders table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
    /* display: flex; */
  }
  .customer-details-title{ 
    font-weight: 700;
  }
  .all-orders table tr:nth-child(even) {
    background-color: #e1e1e15c;
    color: black;
    
  }


  .order-details-table td, th{ 
    /* border: none !important; */
    text-align: center !important;
  }
  .order-details-table tr{ 
    background-color: white !important;
  }