@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{ 
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Cabin", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

:root{ 
  --home-order-button:  #FFD029; 
  --menu-order-button: rgba(255, 223, 123, 1);
  --menu-order-button-plus-minus:rgba(65, 65, 65, 1);
  --menu-card-hor-line: rgba(136, 136, 136, 1); 
  --menu-page-color: rgba(231, 231, 231, 1);
  --add-to-cart-bg-color: rgba(255, 255, 255, 1); 
  --white: #ffffff; 
  --blur-strength: 10px; 
  --add-to-cart-btn-clr: rgba(38, 38, 38, 1) ;
  --mob-view-pay-button: rgba(38, 38, 38, 1); 
  --yumm-color-home-hero: rgba(255, 255, 255, 0.49);
  --check-out-page-left: #FAF9F8 ; 
  --check-out-page-right: #F6F5F4; 
  --check-out-page-left-vertical-line: #F5F3F0;
  --worker-tip-amnt-btn: #E6E4E3;  
  --pick-up-insc: rgba(56, 56, 56, 0.49); 
}


.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}