
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{ 
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

:root{ 
  --home-order-button:  #FFD029; 
  --menu-order-button: rgba(255, 223, 123, 1);
  --menu-order-button-plus-minus:rgba(65, 65, 65, 1);
  --menu-card-hor-line: rgba(136, 136, 136, 1); 
  --menu-page-color: rgba(231, 231, 231, 1);
  --add-to-cart-bg-color: rgba(255, 255, 255, 1); 
  --white: #ffffff; 
  --blur-strength: 10px; 
  --add-to-cart-btn-clr: rgba(38, 38, 38, 1) ;
  --mob-view-pay-button: rgba(38, 38, 38, 1); 
  --yumm-color-home-hero: rgba(255, 255, 255, 0.49);
  --check-out-page-left: #FAF9F8 ; 
  --check-out-page-right: #F6F5F4; 
  --check-out-page-left-vertical-line: #F5F3F0;
  --worker-tip-amnt-btn: #E6E4E3;  
  --pick-up-insc: rgba(56, 56, 56, 0.49); 
  --profile-page-icons: #444444; 
  --profile-page-input-label: #7e7d82; 
  --profile-page-input: #3b3b3b;  
  --profile-page-ver-line: #c7c7c7;
  --transparent-bg-color: rgba(253, 253, 253, 0.199); 
}


.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}