.my-order-wrapper{ 
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}
.my-orders-divs{ 
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.my-orders{ 
    width: 50%;
    height: 95%;
    padding: 0rem 1rem;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: black;
    overflow-y: scroll;
}
.back-to-home-my-order-button-wrapper{ 
    position: absolute;
    top: 0;
    width: fit-content;
    height: fit-content;

}

.refresh{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px !important;
    background-color: #262626 !important;
    color: white;
}
.my-orders::-webkit-scrollbar{ 
    display: none;
}
.my-order-bg-gif{ 
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}
.my-order-bg-gif img{ 
    width: 50%;
    height: auto;
}
.my-order-order{ 
    width: 55%; 
    background-color: var(--menu-page-color);
    padding: 0.3rem 0rem;
    border-radius: 10px;
  
    
}

.order-items-cont{ 
    width: 100%;
    height: fit-content;
}
.item-img-my-order { 
    width: 150px;
    height: 150px;
    background-color: var(--check-out-page-right);
    border-radius: 10px;
}
img{ 
    width: 100%;
    height: 100%;
}
.product-name-my-order{ 
    /* padding: 1rem 1rem; */
    
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: var(--check-out-page-right); */
    color: black;
    border-radius: 10px;
}
.product-qty{ 
    /* height: 150px; */
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}
.product-qty-item-div{ 
    /* padding: 1rem 1rem; */
   /* background-color: var(--check-out-page-right); */
   color: black;
    border-radius: 10px;
}
.order-items-my-order{ 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    margin: 0.5rem 0rem;
    height: fit-content;
    /* flex-wrap: wrap; */
}
.ver-line-my-order{ 
    width: 100%;
    height: 1px ;
    border-bottom: 1px solid var(--profile-page-ver-line);
}
.product-name-topping{ 
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap: 0.5rem;    
}
.product-name-topping-items{ 
    padding: 0 !important;
    margin: 0 !important;
}

.delivery_status{ 
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 0.5rem 0rem;
}

.status-myorder{ 
    width: 90%; 
    padding: 1rem 2rem;
    background-color: var(--check-out-page-right);
    color: black;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
}
.back-to-home-my-order{ 
    margin: 1rem 1rem;
    padding: 0.3rem 1rem;
    border: none;
    cursor: pointer;
    width: fit-content;
    background-color: var(--menu-page-color);
    border-radius: 10px;
}


.delivery_status button{ 
    width: 90%;
    height: fit-content;
    padding: 1rem 0rem;
    border-radius: 10px;
    border: none;
    background-color: var(--mob-view-pay-button);
    color: white;
    cursor: pointer;
}

.sl-no{ 
    color: black;
}
.empty-orders{ 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty-orders img{ 
    width: 50%;
    height: auto;
}

.empty-orders span{ 
    margin: 2rem;
    font-size: 20px;
    font-weight: 600; 
    
}

@media screen and (max-width: 993px){ 
    .my-order-bg-gif{ 
        display: none;
    }
    .my-orders{ 
        width: 100%;
        height: 87%;
    }
    .my-order-order{ 
        width: 100%;
    }
    .back-to-home-my-order{ 
        margin: 0.5rem 0.5rem;
    }
    .back-to-home-my-order-button-wrapper{ 
        /* height: 50px; */
        width: 100%;
        background-color: white;
    }
    .item-img-my-order{ 
        width: 100px;
        height: 100px;
    }
}