@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.homeBox {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    /* position: relative; */
    background-color: black
}




/* bg image */
.homeBg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.1; */
    position: absolute;
    transition: all 0.4s ease-in-out;
    z-index: 0;
    /* display: none; */
}

.yumm {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 132px;
    font-weight: 400;
    font-family: "Kaushan Script", cursive;
    color: var(--yumm-color-home-hero);
    display: none;
}








/* .contentBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: red;
    height: 100%;
    /* position: absolute; */
/* z-index: 10; */
/* transition: all 0.3s ease-in-out; */
/* } */


.menu-section {
    background-color: var(--menu-page-color);
    transition: all 0.4s ease-in-out;
}









/* left side of the page */
/* .left-box-wraapper{ 
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    
} */
.left-box-wraapper{ 
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.leftBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: start;
    transition: all 0.4s ease-in-out;
    z-index: 10;
    padding: 0rem 2rem;
    text-transform: uppercase;
    
}

.leftBox span {
    color: white;
    font-size: 60px;
    /* text-transform: uppercase; */
    /* font-weight: 700; */
    /* margin-left: 1vw; */
}

/* .inwood-pizza{ 
    text-transform: uppercase;
} */
.home-hero-order-button {

    background-color: var(--home-order-button);
    width: 281px;
    height: 76px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 21.22px;
    cursor: pointer;
    z-index: 1;
}










/* right side pizza image */
.rightBox {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem 3rem;
}   



.rightBox .mainSlice {
    height: 450px;
    width: 340px;
    object-fit: cover;
    /* position: absolute;
    left: 30vw; */
}

.rightBox .topSlice {
    height: 210px;
    width: 230px;
    object-fit: cover;
    /* position: absolute; */
    /* z-index: 1; */
    transform: translate(140%, -50%) rotate(0deg);
    right: 17vw;
    bottom: 49vh;

}

.rightBox .bottomSlice {
    height: 210px;
    width: 230px;
    object-fit: cover;
    /* position: absolute; */
    /* z-index: 1; */
    transform: translate(30%, 45%) rotate(0deg);
    right: 18vw;
    bottom: 21vh;

}

.pizza-png {
    width: 500px;
    height: auto;
}


@media screen and (max-width: 1001px){ 
    .homeBox{ 
        flex-direction: column-reverse;

    }
    .leftBox{ 
        width: 100%;
        height: 45%; 
        
    }
    .rightBox{ 
        margin-top: 8rem;
        width: 100%;
        height: 45%;
        padding: 0rem 0rem;
    }
    .carousel{ 
        width: 100%;
        height: 100% !important;
    }
    .leftBox span{ 
        font-size: 30px !important;
    }
}

@media screen and (max-width: 1000px) {
    /* .leftBox {
        width: 69%;
    } */

    .leftBox span {
        font-size: 80px;
        font-weight: 700;
        /* margin-left: 1vw; */
    }

    .topSlice {
        width: 280px !important;
        height: 220px !important;
        transform: translate(220%, -50%) !important;
    }

    .bottomSlice {
        width: 280px !important;
        height: 220px !important;
        transform: translate(120%, 45%) !important;
    }

    .mainSlice {
        width: 414px !important;
        height: 480px !important;
        transform: translateX(50%);
    }
}





/* media queries */

/* @media screen and (orientation: landscape){ 
    .leftBox span {
        font-size: 30px;
        font-weight: 700;
    }
    .topSlice {
        width: 211px !important;
        height: 165px !important;
        transform: translate(220%, -50%) !important;
    }

    .bottomSlice {
        width: 210px !important;
        height: 183px !important;
        transform: translate(120%, 45%) !important;
    }
 .mainSlice {
        width: 314px !important;
        height: 373px !important;
        transform: translateX(50%);
    }
    .rightBox {
        width: fit-content;
        height: fit-content;
        transform: translateY(50%);

    }
} */



@media (max-width: 768px) {

    /* .pizza-container-hero-section{ 
        transform: translateX(30%);
        border: 1px solid red;
    } */

    .yumm {
        top: 0;
        left: 0;
        display: block;
        transform: translateY(60%);
    }
    .left-box-wraapper{ 
        width: 100%;
    }
    
    .leftBox {
        justify-content: center;
        gap: 1rem;
        width: 100%;
        /* transform: translateY(-20%); */
    }

    .leftBox span {
        font-size: 35px;
    }

    .rightBox{ 
        padding: 0rem 2rem;
    }
    .home-hero-order-button {
        width: 158px;
        height: 45.08px;
        font-size: 14px;
        font-weight: 700;
    }

    .mainSlice {
        width: 314px !important;
        height: 373px !important;
        transform: translateX(50%);
    }

    .topSlice {
        width: 211px !important;
        height: 165px !important;
        transform: translate(220%, -50%) !important;
    }

    .bottomSlice {
        width: 210px !important;
        height: 183px !important;
        transform: translate(120%, 45%) !important;
    }


    .pizza-png {
        /* position: absolute; */
        transform: translate(45%);
    }

    .homeBox{ 
        gap: 0;
    }
}


@media screen and (max-width: 768px) and (max-height: 800px) {
    .pizza-png {
        width: 450px;
        height: auto;
    }

    .yumm {
        transform: translateY(30%);
    }
}


@media screen and (max-width: 768px) and (max-height: 700px) {
    .pizza-png {
        width: 400px;
        height: auto;
    }

    .leftBox span {
        font-size: 30px;
    }
}








.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
    width: 100%;
    height: 50%;
    padding: 0rem 0rem;
    position: relative;
    /* overflow-x: hidden; */
}


.carousel-content {
    display: flex;
    /* border: 1px solid #ccc; */
    padding: 0rem 0rem;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    height: 100%;

}

.carousel-bg {
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
    height: auto;
    background: #000;
    border-radius: 10px;
}

.left-box,
.right-box {
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    z-index: 1;
    /* border: 1px solid red; */
}

.left-box {
    /* background-color: #fff; */
    color: white;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}

.left-box p {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-style: italic;
    font-weight: bold;
    z-index: 0;
}

.right-box {
    /* background-color: #eee; */
    color: white;
}

.right-box img {
    width: 80%;
    height: auto;
    filter: drop-shadow(5px 30px 15px rgba(0, 0, 0, 0.5)); 
}

.carousel-btn {
    background-color: rgba(255, 221, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    min-width: 45px;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
    /* position: absolute; */
    transition: all 0.3s ease-in;
}
.carousel-btn:hover{ 
    background-color: rgba(255, 221, 0, 0.8);
    color: rgba(0, 0, 0, 0.9);
}
.left-btn {
    /* left: 3%;
    top: 50%; */

}

.right-btn {
    /* right: 3%;
    top: 50%; */
}

.carousel-btn:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .carousel-btn {
        min-width: 35px;
        min-height: 35px;
        position: absolute;
    }
    .left-btn{ 
        bottom: -20%;
        right: 13%
    }
    .right-btn{ 
        bottom: -20%;
        right: 0
    }
    .carousel-bg{ 
        height: 100%;
    }
    .carousel {
        /* padding: 0rem 1rem; */
        /* padding-top: 50px; */
        /* border: 1px solid red; */
        min-width: 100%;
    }

    .carousel-content {
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
        height: 98%;
    }

    .left-box {
        width: 100%;
        /* border: 1px solid red; */
    }

    .right-box {
        width: 100%;
    }

    .left-box p {
        font-size: 30px;
    }
}